# Requirments

## Before start collecting install these packages

pip install tweepy

https://dataset.readthedocs.io/en/latest/quickstart.html

pip install dataset

pip install pandas

In [1]:
#!pip install tweepy

In [2]:
#!pip install dataset

In [ ]:
#!pip install pandas

In [3]:
import TwitterHandler as th

<img src="TwitterAccount.JPG" width="500px" height ="500px" />

In [4]:
API_Key = ''
API_Secret_Key = ''
Access_Token = ''
Access_Token_Secret = ''
# A database with assigned name will create in location of this jupyter with the .db extention
# This database is Sqlite database you need to install this package
DataBaseName = "sample"
LANG = ["en"]
Filter = ["#coronavirus", "coronavirus" , "#Coronavirus"]
# this will put a cap on number of twitters that can be collected by the api
# if assign to -1 you will remove the limitation
Limit = 100
# this will deactivate print each message that is collected
# activate this just for test in practical collecting recommanded to be deactivate
Verbos = False

In [5]:
# Twitter Collection API
TCA = th.Collect( API_Key , API_Secret_Key , Access_Token , Access_Token_Secret , DataBaseName,
                LANG , Filter , Limit, Verbos)

# !!! This function is a thread

In [6]:
TCA.start()

sqlite:///sample.db
Database is created
API Connected to the twitter.
Collecting started...
Stream object already connected!
Total number of 100 twitter collected.

# Convert the collected result to CSV

In [7]:
TCA.to_csv('sample.csv')

# Convert the collected result to Panda DataFrame

In [8]:
df =  TCA.to_DataFrame()

In [9]:
df.head()

,id,user_description,user_location,coordinates,orig_text,text,user_name,user_created,user_followers,id_str,created,retweet_count,hashtags,isretweet,istruncated,favoritecount,symbolval,sis,sie
0,1,"Mom to 3, Mimi to 6! Adore my http://family.Lo...",None,None,"First, Trump says he alone will do the oversig...",First Trump says he alone will do the oversigh...,mimi_x4,2012-10-21 02:08:10.000000,3439,1245891417639174145,2020-04-03 01:50:36.000000,6693,[],1,1,19814,nosymbol,-1,-1
1,2,None,None,None,The evidence is clear: Donald Trump ignored th...,The evidence is clear Donald Trump ignored the...,fairhope1212,2019-12-13 05:15:22.000000,26,1245891417756573698,2020-04-03 01:50:36.000000,4659,[],1,1,13760,nosymbol,-1,-1
2,3,#NeverMyPres; #TheResistance #VOTEBLUE2020\nG...,United States,None,"From what I can see, Capt. Crozier is a patrio...",From what I can see Capt Crozier is a patriot ...,cammac491,2016-10-10 00:42:14.000000,2634,1245891417576296448,2020-04-03 01:50:36.000000,1872,[],1,1,5484,nosymbol,-1,-1
3,4,"Boston Marriage Enthusiast, Former Frankfurt A...","Kansas City, MO",None,⚠️ER physicians like @DrRobDavidson will soon ...,ER physicians like will soon face an gutwrenc...,1030bedtime,2016-02-27 03:09:25.000000,74,1245891417840508928,2020-04-03 01:50:36.000000,24,[],1,1,31,nosymbol,-1,-1
4,5,I’ve been an Agoraphobic for over 15 years & n...,"London, England",None,Just 3% think British government is handling t...,Just 3 think British government is handling th...,realTreeHugs,2019-09-27 22:29:46.000000,527,1245891417920155648,2020-04-03 01:50:36.000000,49,[],1,1,102,nosymbol,-1,-1

 # Advance To_csv : where follow the sql expression for where and you can filter the data by specific columns and value

In [11]:
TCA.to_csv('sample_where.csv' , where = ' favoritecount > 50')